<%- include("../layouts/admin-header.ejs") %>
<%- include("../layouts/navbar.ejs") %>
<%- include("../layouts/admin-sidebar.ejs") %>
<!-- Page Content  -->
<%- include("../layouts/admin-dashboardContent.ejs") %>
<div class="contact-form">
    <form action="" method="POST" id="my-form">
        <h3>Title</h3>
        <input type="text" name="title" required placeholder="Enter post title" class="w-100">
        <h3>Content</h3>
        <textarea name="content" id="" placeholder="Enter post content" required rows="10"></textarea>  
        
        <input type="submit" value="Add Post" class="send">        
    </form>
    <% 
    if(typeof message !== 'undefined'){
%>
        <p style="color: #eb4a4a;"><%= message %></p>
        <%
    }
        %>
</div>

   <%- include("../layouts/admin-footer") %>
   <%- include("../layouts/footer") %>